				<!-- MAP  PAGE   -->
<div id="add_marker" class="custom-control" title="Add Marker">Add Marker</div>
<div id="map-container">
  <div id="map-canvas"></div>
</div>
<div id="map">
</div>
<div id="homeless_item">
	<%= form_for Item.new do |i| %> 
	<%= i.label :item_name, "Item Name" %>
	<%= i.text_field :item_name %>
	<%= hidden_field_tag :homeless_id %>
	<%= i.submit ("Submit") %>
	<% end %>
</div>