<!DOCTYPE html>
<html>
  <head>
    <title>Homeless</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="initial-scale=1.0">
	<link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
  <!-- nav -->
<!--   <div class="parent2">
  <div class="test1"><i class="fa fa-user fa-2x"></i></div>
  <div class="test2"><i class="fa fa-hand-peace-o fa-2x"></i></div>
  <div class="test3"><i class="fa fa-code fa-2x"></i></div>
  <div class="test4"><i class="fa fa-envelope-o fa-2x"></i></div>
  <div class="mask2"><i class="fa fa-home fa-3x"></i></div>
</div>
 -->

   <div id="nav" class="navbar-fixed">
    <nav class="navbar-fixed blue darken-4 main-navigation" role="navigation">
    <div class="nav-wrapper container">
        <button><a id="logo-container" href="/" class="brand-logo  white-text">Home</a>
        <button><a href="/feed">Feed</a>
        <button><a href="/map">Map</a>
        <button><%=link_to "Log Out", destroy_user_session_path, method: :delete %>
        <button><a href="/profile">Profile</a>
    </div>
  </nav>
</div>

	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>">
    </script>
  </body>
</html>
