<!DOCTYPE html>
<html>
  <head>
    <title>Homeless</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="initial-scale=1.0">
          <!-- css / fonts  -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
  <div class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button class="toggle"><span></span>
        <span></span>
        <span></span></button>
        <a href="/" class="navbar-brand">Helping Hands</a>
      </div>
      <ul class="nav navcollapse">
        <li><%=link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li><a href="/users/sign_in">Sign in</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="/feed">Feed</a></li>
      </ul>
  </div>
</div>
	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>">
    </script>
  </body>
</html>
